.categories
  overflow: auto
  font-size: 14px
  font-weight: 600
  letter-spacing: 0.28px
  text-transform: uppercase
  margin-left: 40px

  &__single-category
    display: flex
    margin-bottom: 22px
    align-items: center
      
  &__icon
    width: 15px

  &__name
    display: flex
    margin-left: 5px

  &::-webkit-scrollbar 
    width: 3px

  &::-webkit-scrollbar-thumb 
    background-color: #707070
    outline: 1px solid slategrey

  &::-webkit-scrollbar-track-piece:end 
    background: transparent
    margin-bottom: 10px

