.post
  background: #1f1f1f
  min-width: 1290px
  max-width: 1600px
  border-radius: 15px
  opacity: 1
  margin: 40px auto
  padding: 
    left: 48px
    right: 48px
    top: 35px
 
  &__header
    align-items: center
    display: flex
    justify-content: space-between

  &__details
    align-items: center
    color: #8A8A8A
    font-weight: 300
    display: flex
    letter-spacing: 0.32px
    margin-bottom: 8px

  &__text-details
    margin-left: 16px

  &__title
    font-weight: 600
    font-size: 38px
    letter-spacing: 0.96px
    color: #ffffff
    opacity: 1
    text-decoration: none

  &__body
    margin: 
      bottom: 102px
      top: 8px
    p
      font-size: 26px
      margin: 0

  &__categories
    display: flex
    color: #8a8a8a

  &__single-category
    border-radius: 45px
    border: 2px solid #707070
    letter-spacing: 0.32px
    margin-right: 20px
    opacity: 1
    padding: 12px 40px
    text-transform: uppercase
    display: flex
    align-items: center

  &__more-categories
    align-self: center
    
  &__reactions
    align-items: center
    display: flex
    justify-content: space-around
    width: 25%

  &__single-reaction
    align-items: center
    display: flex
    display: flex
    justify-content: space-between
    margin-left: 30px
    width: 25%

  &__date
    margin: 0
    color: #8A8A8A80

  &__footer 
    display: flex
    justify-content: space-between
    color: #8a8a8a

    p 
      font-size: 16px
    
  &.-preview
    flex-basis: 55%;
    min-width: 0;
    margin: 0;

  
