* {
  padding: 5px;
}

.admin-panel {
  border: 1px solid #000000;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  margin: 10px auto;
  width: 80%;
}

.noShow {
  display: none !important;
}

.post {
  border: 1px solid #e39910;
  border-radius: 10px;
  margin: 15px auto;
  padding: 15px;
  width: 80%;
}

.posts {
  margin: auto;
  width: 100%;
}

.preview {
  border: 1px solid #c8ccd0;
  min-height: 200px;
  padding: 10px;
}

.side-nav-bar {
  border: 1px solid #910707;
  border-radius: 10px;
  margin: 10px auto;
  width: 80%;
}

.side-nav-bar-list {
  display: flex;
  justify-content: center;
  list-style: none;
}
