* {
  padding: 5px;
}

.side-nav-bar {
  border: 1px solid #000000;
  width: 200px;
}

.side-nav-bar-list {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.noShow {
  display: none !important;
}

.post {
  margin-top: 15px;
  padding: 15px;
}
.posts {
  margin: auto;
  width: 90%;
}

.preview {
  border: 1px solid #c8ccd0;
  min-height: 200px;
  padding: 10px;
}
