/* React Modal */ 
  .Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #212529B2;
    backdrop-filter: blur(2px);
    z-index: 100;
  }

.cancel-delete-btn {
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
    background-color: #fe1a00;
    border-radius: 4px;
    border: 1px solid #d83526;
    box-shadow: inset 0 1px 0 0 #23b306;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.5;
    margin-left: 5px;
    padding: 6px 15px;
    text-decoration: none;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
}

.confirm-delete-btn {
    background-color: #23b306;
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
    border-radius: 4px;
    border: 1px solid #3b7808;
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.5);
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.5;
    margin-left: 5px;
    padding: 6px 15px;
    text-decoration: none;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
}

/* fix for search highlighting */
mark {
    padding: 0;
}

/* React Mde Classes  */

.no-show {
    display: none !important;
}

.text-area {
    background-color: #2A2E32;
    border-radius: 20px;
    caret-color: #8a8a8a;
    color: #a0a0a0;
    font-size: 16px;
    font-family: Poppins;
    font-weight: 500;
    min-height: 200px;
    letter-spacing: 0.48px;
    outline: none;
}

.text-area::placeholder {
    color: #a0a0a0;
    font-size: 16px;
    font-family: Poppins;
    font-weight: 500;
}

.react-mde {
    border: 1px solid #8A8A8A;
    border-radius: 10px;
    margin-top: 16px; 
    min-height: 202px;
}

.grip {
    display: none;
}


/*
  Search Hack - whitout it searched phrase is padded
  and looks like two words
*/
span {
    padding: 0;
}
